{% extends "base.html" %}
{% block title %}
수정하기
{% endblock title%}
{%block extrahead %}
{% endblock extrahead %}
{% block content %}
<section class="write_section">
  <h1>수정하기</h1>
  <form
    action="{% url 'update' edit_blog.id %}"
    method="POST"
    enctype="multipart/form-data"
    class="write_form"
  >
    {% csrf_token %} 제목
    <input type="text" name="title" value="{{ edit_blog.title }}" />
    본문
    <textarea name="content" cols="30" rows="10">{{ edit_blog.content }}</textarea>
    사진
    <input type="file" name="change_image" />
    {% if edit_blog.image !="False" %}
    사진 삭제하기 <input type="checkbox" name="file_delete" />
    {% endif %}
    <input type="submit" value="수정하기" />
  </form>
</section>
{% endblock %}
